{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="container col-md-4 p-4 mt-5 border shadow">
        <h3>{% trans "Change Password" %}</h3>
        <hr/>
        <form method="post"
              action="{% url 'account_change_password' %}"
              class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success" type="submit" name="action">{% trans "Change Password" %}</button>
            {% comment %} <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> {% endcomment %}
        </form>
    </div>
{% endblock content %}
