{% extends "base.html" %}
{% load i18n account crispy_forms_tags %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="container col-md-3 shadow p-4 mt-5">
        <h3>{% trans "Password Reset" %}</h3>
        <hr/>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>
            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
        </p>
        <form method="post"
              action="{% url 'account_reset_password' %}"
              class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success"
                   type="submit"
                   value='{% trans "Reset My Password" %}'/>
            <a href="{% url 'account_login' %}" class="btn btn-danger">{% trans "Cancel" %}</a>
        </form>
        <p class="mt-2">
            {% blocktrans %}Please contact us at <a href="mailto:example@example.com">example@example.com</a> if you have any trouble resetting your password.{% endblocktrans %}
        </p>
    </div>
{% endblock content %}
