<!-- Modal -->
{% load static socialaccount crispy_forms_tags %}
<div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class=" modal-dialog modal-width modal-dialog-scrollable">
        <div class="modal-content rounded-o">
            <div class="modal-body">
                <div class="mt-cust">
                    <button type="button" class="close p-2 float-left" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="d-flex flex-column align-items-center mr-6">
                        <img src="{% static 'img/twitter.svg' %}" alt="" width="40" height="40" class="mb-4" />
                        <div>
                            <h2 class="font-weight-bold">Sign in to Twitter</h2>
                        </div>
                        <div class="mt-4 modal-login ml-5">
                            <a href="{% provider_login_url 'google' %}"
                                class="btn btn-light rounded-pill border mb-4 d-flex align-items-center justify-content-center font-normal text-muted py-2">
                                <img src="{% static 'img/google.svg' %}" alt="" width="20" height="20" />
                                <span class="pl-1">Sign in with Google</span></a>
                            <a href="{% provider_login_url 'google' %}"
                                class="cust-font btn btn-light rounded-pill border mb-1 py-2 font-weight-bold d-flex align-items-center justify-content-center">
                                <img src="{% static 'img/apple.svg' %}" alt="" width="20" height="20" />
                                <span class="pl-1">Sign in with Apple</span></a>
                            <span class="row align-items-center mb-2">
                                <hr class="col-md-4" />
                                or
                                <hr class="col-md-4" />
                            </span>
                            <div>
                                <form class="line-height" action="{% url 'account_login' %}" method="post">
                                    {% csrf_token %}
                                    {{ login_form.login|as_crispy_field }}
                                    {{ login_form.password|as_crispy_field }}
                                    <button type="submit"
                                        class="btn dark-btn d-flex justify-content-center rounded-pill border login-btn font-weight-bold">Next</button>
                                </form>
                            </div>
                            <a href=""
                                class="btn btn-light rounded-pill border font-weight-bold d-flex justify-content-center mt-3"><span>Forgot
                                    password</span></a>
                            <div class="text-muted mt-4">
                                <p>Don't have an account? <a href="">Sign up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>