{% extends base_template_name %}
{% load static %}
{% block head_title %}
    {{ username }}
{% endblock head_title %}
{% block maincontent %}
    <div class="d-flex align-items-center mt-1">
        <div>
            <a href="{{ request.META.HTTP_REFERER|escape }}"
               class="text-dark font-weight-bold">&larr;</a>
        </div>
        <div class="ml-5 line-space mb-3">
            <h5 class="text-capitalize font-weight-bold">{{ user.get_full_name }}</h5>
            <small class="text-muted">3 tweets</small>
        </div>
    </div>
    <div class="">
        <div class="parent">
            <img src=" {% if user.profile.cover_photo %} {{ user.profile.cover_photo.url }} {% else %} {% static 'gray_img.png' %} {% endif %}"
                 alt="."
                 width="100%"
                 height="200px"
                 class="cover_image"/>
            <img src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'user_img.png' %}{% endif %}"
                 alt="{{ user.username }}"
                 class="rounded-circle profile_image"
                 height="140"
                 width="140"/>
        </div>
    </div>
    <div class="float-right mt-3">
        {% if user == request.user %}
            <a href="{% url 'profile_update' %}"
               class="btn rounded-pill btn-light border px-3 font-weight-bold">Edit profile</a>
        {% else %}
            {% if request.user.is_authenticated %}
                {% if request.user.profile in user.profile.followers.all %}
                    <a href="{% url 'followToggle' user.username %}"
                       class="btn rounded-pill btn-light border px-3 font-weight-bold">Unfollow</a>
                {% else %}
                    <a href="{% url 'followToggle' user.username %}"
                       class="btn rounded-pill dark-btn border px-3 font-weight-bold">Follow</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    <div class="font-weight-bold mt-6 line-space">
        <h4 class="font-weight-bold text-capitalize">{{ user.get_full_name }}</h4>
        <small class="text-muted">@{{ user.username }}</small>
    </div>
    <div class="mt-4">
        <p>{{ user.profile.about |urlize }}</p>
        <div class="text-muted d-flex flex-wrap">
            {% if user.profile.location %}
                <div class="pr-3">
                    <svg viewBox="0 0 24 24"
                         aria-hidden="true"
                         class=" text-muted r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-1d4mawv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                        <g>
                        <path fill="gray" d="M12 7c-1.93 0-3.5 1.57-3.5 3.5S10.07 14 12 14s3.5-1.57 3.5-3.5S13.93 7 12 7zm0 5c-.827 0-1.5-.673-1.5-1.5S11.173 9 12 9s1.5.673 1.5 1.5S12.827 12 12 12zm0-10c-4.687 0-8.5 3.813-8.5 8.5 0 5.967 7.621 11.116 7.945 11.332l.555.37.555-.37c.324-.216 7.945-5.365 7.945-11.332C20.5 5.813 16.687 2 12 2zm0 17.77c-1.665-1.241-6.5-5.196-6.5-9.27C5.5 6.916 8.416 4 12 4s6.5 2.916 6.5 6.5c0 4.073-4.835 8.028-6.5 9.27z">
                        </path>
                        </g>
                    </svg>
                    <span>{{ user.profile.location }}</span>
                </div>
            {% endif %}
            {% if user.profile.dob %}
                <div class="pr-3">
                    <svg viewBox="0 0 24 24"
                         aria-hidden="true"
                         class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-1d4mawv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                        <g>
                        <path fill="gray" d="M8 10c0-2.21 1.79-4 4-4v2c-1.1 0-2 .9-2 2H8zm12 1c0 4.27-2.69 8.01-6.44 8.83L15 22H9l1.45-2.17C6.7 19.01 4 15.27 4 11c0-4.84 3.46-9 8-9s8 4.16 8 9zm-8 7c3.19 0 6-3 6-7s-2.81-7-6-7-6 3-6 7 2.81 7 6 7z">
                        </path>
                        </g>
                    </svg>
                    <span>Born&nbsp;{{ user.profile.dob }}</span>
                </div>
            {% endif %}
            <div class="pr-3">
                <svg viewBox="0 0 24 24"
                     aria-hidden="true"
                     class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-1d4mawv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                    <g>
                    <path fill="gray" d="M7 4V3h2v1h6V3h2v1h1.5C19.89 4 21 5.12 21 6.5v12c0 1.38-1.11 2.5-2.5 2.5h-13C4.12 21 3 19.88 3 18.5v-12C3 5.12 4.12 4 5.5 4H7zm0 2H5.5c-.27 0-.5.22-.5.5v12c0 .28.23.5.5.5h13c.28 0 .5-.22.5-.5v-12c0-.28-.22-.5-.5-.5H17v1h-2V6H9v1H7V6zm0 6h2v-2H7v2zm0 4h2v-2H7v2zm4-4h2v-2h-2v2zm0 4h2v-2h-2v2zm4-4h2v-2h-2v2z">
                    </path>
                    </g>
                </svg>
                <span>Joined&nbsp;{{ user.date_joined|date }}</span>
            </div>
            {% if user.profile.link %}
                <div class="pr-3">
                    <svg viewBox="0 0 24 24"
                         aria-hidden="true"
                         class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-1d4mawv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                        <g>
                        <path fill="gray" d="M18.36 5.64c-1.95-1.96-5.11-1.96-7.07 0L9.88 7.05 8.46 5.64l1.42-1.42c2.73-2.73 7.16-2.73 9.9 0 2.73 2.74 2.73 7.17 0 9.9l-1.42 1.42-1.41-1.42 1.41-1.41c1.96-1.96 1.96-5.12 0-7.07zm-2.12 3.53l-7.07 7.07-1.41-1.41 7.07-7.07 1.41 1.41zm-12.02.71l1.42-1.42 1.41 1.42-1.41 1.41c-1.96 1.96-1.96 5.12 0 7.07 1.95 1.96 5.11 1.96 7.07 0l1.41-1.41 1.42 1.41-1.42 1.42c-2.73 2.73-7.16 2.73-9.9 0-2.73-2.74-2.73-7.17 0-9.9z">
                        </path>
                        </g>
                    </svg>
                    <span>{{ user.profile.link|urlize }}</span>
                </div>
            {% endif %}
        </div>
        <div class="d-flex mt-2">
            <a href="">
                <span class="font-weight-bold text-dark">{{ user.profile.following.count }}</span>&nbsp;<span class="text-muted">Following</span>
            </a>
            <a href="" class="pl-3">
                <span class="font-weight-bold text-dark">{{ user.profile.followers.count }}</span>&nbsp;<span class="text-muted">Followers</span>
            </a>
        </div>
    </div>
{% endblock maincontent %}
