{% extends "base.html" %}
{% load static %}
{% block head_title %}
    {{ username }}
{% endblock head_title %}
{% block content %}
    <section class="row">
        {% include "left-pane.html" %}
        <div class="border border-top-0 border-bottom-0 col-md-5 ml-00">
            <div class="d-flex align-items-center mt-1">
                <div>
                    <a href="{{ request.META.HTTP_REFERER|escape }}"
                       class="text-dark font-weight-bold">&larr;</a>
                </div>
                <div class="ml-5">
                    <h5 class="text-capitalize font-weight-bold">{{ user.get_full_name }}</h5>
                    <small class="text-muted">3 tweets</small>
                </div>
            </div>
            <div>
                <div class="parent">
                    <img src=" {% if user.profile.cover_photo %} {{ user.profile.cover_photo.url }} {% else %} {% static 'gray_img.png' %} {% endif %}"
                         alt="."
                         width="100%"
                         height="200px"
                         class="cover_image"/>
                    
                        <img src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'user_img.png' %}{% endif %}"
                             alt="{{ user.username }}"
                             class="rounded-circle profile_image"
                             height="150"
                             width="150"/>
                    
                       
                    
                </div>
            </div>
            <div class="float-right mt-2">
                {% if user == request.user %}
                    <a href="{% url 'profile_update' %}" class="btn rounded-pill btn-light border px-3 font-weight-bold">Edit profile</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}
