{% load static %}
{% url 'index' as index %}
{% url 'profile' request.user.username as request_user_profile %}
<div class="col-md-3 ml-4-5 ">
    <a href="" class="btn btn-light rounded-circle ml-1 py-2">
        <img src="{% static 'twitter.svg' %}"
             alt="twitter"
             height="38"
             width="38"
             class=""/>
    </a>
    <br />
    <div class="ml-2 ">
        <a href=" {{ index }}"
           class=" btn btn-light rounded-pill big-text px-3 {% if request.path == index %}font-weight-bold{% endif %}"><i class="fa-solid fa-house"> </i>&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
        <br />
        <a href="" class="mt-1 btn btn-light rounded-pill big-text px-3"><i class="fa-solid fa-sharp fa-hashtag"></i>&nbsp;&nbsp;&nbsp;&nbsp;Explore</a>
        <a href="" class="mt-1 btn btn-light rounded-pill big-text px-3"><i class="fa-solid fa-bell"></i>&nbsp;&nbsp;&nbsp;&nbsp;Notifications</a>
        <a href="" class="mt-1 btn btn-light rounded-pill big-text px-3"><i class="fa-regular fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;Messages</a>
        <a href="{{ request_user_profile }}"
           class="mt-1 btn btn-light rounded-pill big-text px-3 {% if request.path == request_user_profile %}font-weight-bold{% endif %}"><i class="{% if request.path == request_user_profile %}fa-solid {% else %}fa-regular{% endif %} fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile</a>
        <br />
        <a href="" class="mt-1 btn btn-light rounded-pill big-text px-3"><i class="fa-solid fa-ellipsis"></i>&nbsp;&nbsp;&nbsp;&nbsp;More</a>
    </div>
    <div class="blue rounded-pill p-2 d-flex justify-content-center width mt-3 ">
        <a href="" class="btn text-white font-weight-bold">Tweet</a>
    </div>
</div>
