{% extends "authenticated-base.html" %}
{% load static %}
{% block maincontent %}
    <div class="pt-3 border-bottom ">
        <h4 class="mb-2 home font-weight-bold">Home</h4>
        <div class="row ">
            <button class="forfollow btn btn-light col-md-6 p-2 font-weight-bold"
                    data-section="for-you"
                    onclick="changeDiv(this)">
                For
                you
            </button>
            <button class="forfollow btn btn-light col-md-6 p-3 font-weight-bold"
                    data-section="following"
                    onclick="changeDiv(this)">
                Following
            </button>
        </div>
    </div>
    <div class="d-flex p-2">
        <div>
            <a href="{% url 'profile' request.user.username %}">
                <img src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'user_img.png' %}{% endif %}"
                     alt="{{ user.username }}"
                     class="rounded-circle mt-3"
                     height="40"
                     width="40"/>
            </a>
        </div>
        {% include 'tweet_form.html' %}
    </div>
    <div id="divdiv"></div>
    <div class="content-section" id="for-you">{% include "for-you.html" %}</div>
    <div class="content-section" id="following">{% include "following.html" %}</div>
{% endblock maincontent %}
