{% extends "authenticated-base.html" %}
{% block maincontent %}
    <div class="pt-3 border-bottom ">
        <h4 class="mb-2 home font-weight-bold">Home</h4>
        <div class="row ">
            <button class="forfollow btn btn-light col-md-6 p-2 font-weight-bold"
                    data-section="for-you"
                    onclick="changeDiv(this)">
                For
                you
            </button>
            <button class="forfollow btn btn-light col-md-6 p-3 font-weight-bold"
                    data-section="following"
                    onclick="changeDiv(this)">
                Following
            </button>
        </div>
    </div>
    <div id="divdiv"></div>
    <div class="content-section" id="for-you">{% include "for-you.html" %}</div>
    <div class="content-section" id="following">{% include "following.html" %}</div>
{% endblock maincontent %}
