{% load static %}
<div class="col-md-2 ml-4 mr-2 ">
    <a href="" class="btn btn-light rounded-circle py-2">
        <img src="{% static 'twitter.svg' %}"
             alt="twitter"
             height="38"
             width="38"
             class=""/>
    </a>
    <br />
    <div class="mx-2 mt-1">
        <a href="{% url 'index' as index %}"
           class="btn btn-light rounded-pill big-text px-3 {% if request.path == index %}font-weight-bold{% endif %}"><i class="fa-solid font-weight-bolder fa-sharp fa-hashtag"></i>&nbsp;&nbsp;&nbsp;&nbsp;Explore</a>
        <a href="" class="btn btn-light rounded-pill big-text px-3"><i class="fa-solid fa-gear"></i>&nbsp;&nbsp;&nbsp;&nbsp;Settings</a>
    </div>
</div>