{% load static %}
<section class="container ml-4 mt-1 row">
    <div class="  side-pane col-md-3 mr- ">
        <a href="" class="btn btn-light rounded-circle py-2">
            <img src="{% static 'twitter.svg' %}"
                 alt="twitter"
                 height="38"
                 width="38"
                 class=""/>
        </a>
        <br />
        <div class="mx-2 mt-2">
            <a href="{% url 'index' as index %}"
               class="btn btn-light rounded-pill big-text px-3 {% if request.path == index %}font-weight-bold{% endif %}"><i class="fa-solid fa-sharp fa-hashtag"></i>&nbsp;&nbsp;&nbsp;&nbsp;Explore</a>
            <a href="" class="btn btn-light rounded-pill big-text px-3"><i class="fa-solid fa-gear"></i>&nbsp;&nbsp;&nbsp;&nbsp;Settings</a>
        </div>
    </div>
    <div class=" col-md-6  border border-top-0 ml-3">
        <div class=" d-flex justify-content-between  align-items-center ">
            <form action="" method="get" class="w-100 pr-5 pl-1">
                <div class="form-control rounded-pill search pl-4  border-0 ">
                    <i class="fa fa-search"></i>
                    <input type="text"
                           placeholder="Search Twitter"
                           class="border-0 form-control input"/>
                </div>
            </form>
            <a class="text-dark" href=""><i class="fa-solid fa-gear"></i></a>
        </div>
        <div class="mt-3">
            <h4 class="font-weight-bolder dark ">Trends for you</h4>
        </div>
    </div>
</section>
