{% load crispy_forms_tags %}
<form action="{% url 'tweet_upload' %}" id="tweetForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ tweet_form|crispy }}
   <div class="">
    <div class="container">
        <div id="preview-container"></div>
      
      <input type="file" id="file-input" class="file-input" accept="image/*" name="images" multiple>
    </div>
    <label for="file-input" class="file-label">
        {% comment %} <i class="fas fa-camera"></i> {% endcomment %}
        <i class="fa-regular fa-image"></i>
      </label>
    <button class="btn blue rounded-pill text-white float-right font-weight-bold" id="tweet-submit-button" disabled>Tweet</button>
   </div>
</form>
