{% load static %}
<div>
    <div>
        <a href="{% url 'profile' tweet.author.username %}">
            <img src="{% if tweet.author.profile.profile_picture %}{{ tweet.author.profile.profile_picture.url }}{% else %}{% static 'user_img.png' %}{% endif %}"
                 alt="{{ tweet.author.username }}"
                 class="rounded-circle mt-2"
                 height="45"
                 width="45"/>
        </a>
    </div>
    <div>
        <h6>{{ tweet.author.get_full_name }}</h6>
        <p>@{{ tweet.author.username }}</p>
        <span>
            {% if tweet.created.date < now.date %}
                {% if tweet.created.date == yesterday %}
                    {% if now.time >= tweet.created.time %}
                        {{ tweet.created|date:"M d" }}
                    {% else %}
                        {{ tweet.created|timesince|slice:"4" }}
                    {% endif %}
                {% else %}
                    {{ tweet.created|date:"M d" }}
                {% endif %}
            {% else %}
                {{ tweet.created|timesince|slice:"4" }}
            {% endif %}
        </span>
    </div>
</div>